{% extends 'index.html' %}
{% load static %}

{% block carousel %}
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg" style="width: 400px;">
            <h1 class="text-center">Авторизация</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Войти</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

