{% load static %}

<div class="site-section">
    <div class="container">
        <div class="row  mb-5">
            <div class="col-md-7">
                <h2 class="heading-39291">Свежие идеи</h2>
                <p>Мы делимся интересными наблюдениями, вдохновением и трендами, которые меняют представление о
                    дизайне.</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">Сентябрь 1, 2025</span>
                        <h2><a href="#">Заголовок статьи</a></h2>
                        <p class="my-3"><a href="#" class="more-39291">Подробнее</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">Сентябрь 1, 2025</span>
                        <h2><a href="#">Заголовок статьи</a></h2>
                        <p class="my-3"><a href="#" class="more-39291">Подробнее</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">Сентябрь 1, 2025</span>
                        <h2><a href="#">Заголовок статьи</a></h2>
                        <p class="my-3"><a href="#" class="more-39291">Подробнее</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <div class="post-entry-1 h-100">

                    <div class="post-entry-1-contents">
                        <span class="meta">Сентябрь 1, 2025</span>
                        <h2><a href="#">Заголовок статьи</a></h2>
                        <p class="my-3"><a href="#" class="more-39291">Подробнее</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>