{% load static %}

<div class="site-section">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-7">
                <h2 class="heading-39291 mb-0">Что мы создаем</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/001-stairs.svg' %}" alt="Image" class="img-fluid">
              </span>
                    <h3 class="mb-4"><a href="#">Креативные лестницы</a></h3>
                    <p>Современные конструкции сочетают эстетичность и удобство, создавая выразительные акценты в
                        интерьере. Продуманное исполнение и качественные материалы обеспечивают долговечность и
                        комфорт.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                  <img src="{% static 'fonts/flaticon/svg/002-kitchen.svg' %}" alt="Image" class="img-fluid">
              </span>
                    <h3 class="mb-4"><a href="#">Дизайн кухни</a></h3>
                    <p>Кухонное пространство должно быть функциональным и гармоничным, объединяя удобство, стиль и
                        современные технологии. Организация зон и подбор материалов создают комфортную атмосферу.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                  <img src="{% static 'fonts/flaticon/svg/003-lamp.svg' %}" alt="Image" class="img-fluid">
              </span>
                    <h3 class="mb-4"><a href="#">Освещение интерьера</a></h3>
                    <p>Световые решения определяют восприятие пространства, подчёркивая детали и создавая уют. Благодаря
                        правильному сочетанию источников света интерьер становится выразительным, комфортным и
                        гармоничным.</p>
                </div>
            </div>

            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
                <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                 <img src="{% static 'fonts/flaticon/svg/004-blueprint.svg' %}" alt="Image" class="img-fluid">
              </span>
                    <h3 class="mb-4"><a href="#">План интерьера</a></h3>
                    <p>Оптимальная планировка позволяет рационально использовать пространство, обеспечивая удобство и
                        визуальную гармонию. Каждая зона продумана для максимального комфорта.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/005-dinning-table.svg' %}" alt="Image" class="img-fluid">
              </span>
                    <h3 class="mb-4"><a href="#">Обеденный стол</a></h3>
                    <p>Центральный элемент кухни или столовой, объединяющий стиль и удобство. Его форма, материалы и
                        расположение обеспечивают комфортную атмосферу для общения и приёмов пищи.</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="service-29193 text-center">
              <span class="img-wrap mb-5">
                <img src="{% static 'fonts/flaticon/svg/006-pantone.svg' %}" alt="Image" class="img-fluid">

              </span>
                    <h3 class="mb-4"><a href="#">Современный дизайн</a></h3>
                    <p>Функциональность, лаконичность и инновации создают гармоничное пространство. Чистые линии,
                        качественные материалы и продуманное расположение обеспечивают удобство и стиль.</p>
                </div>
            </div>
        </div>
    </div>
</div>
