{% load static %}

<div class="site-section section-4">
    <div class="container">

        <div class="row justify-content-center text-center">
            <div class="col-md-7">
                <div class="slide-one-item owl-carousel">
                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <p>Каждая деталь имеет значение. Внимание к мелочам превращает хорошую работу в выдающийся
                            результат, создавая пространство, в котором хочется находиться.</p>
                        <cite><span class="text-black">Андрей Васильев</span> &mdash; <span class="text-muted">Главный архитектор</span></cite>
                    </blockquote>

                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <p>Мы не просто строим объекты, мы создаем атмосферу, формируем стиль и придаем уникальность
                            каждому проекту, учитывая потребности и пожелания.
                        </p>
                        <cite><span class="text-black">Екатерина Смирнова</span> &mdash; <span class="text-muted">Дизайнер интерьеров</span></cite>
                    </blockquote>

                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <p>Дизайн основан на гармонии, удобстве и характере пространства. Наш подход сочетает эстетику и
                            практичность, чтобы добиться идеального баланса.</p>
                        <cite><span class="text-black">Олег Кузнецов</span> &mdash; <span class="text-muted">Арт-директор</span></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>