{% load static %}

<div class="site-section">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-lg-4">
                <div class="h-100 bg-white box-29291">
                    <h2 class="heading-39291">Добро Пожаловать <br> В Нашу Компанию</h2>
                    <p>Мы создаём не просто проекты, мы формируем будущее. Наши решения сочетают надёжность, инновации
                        и индивидуальный подход, помогая клиентам реализовывать самые смелые идеи.</p>
                    <p>Опыт, технологии и внимание к деталям позволяют нам находить лучшие решения для любых задач. Ваши
                        идеи — наша работа.</p>

                    <p class="mt-5">
                        <span class="d-block font-weight-bold text-black">Александр Терехов</span>
                        <span class="d-block font-weight-bold text-muted">Основатель</span>
                        <img src="{% static 'images/signature.svg' %}" alt="Image" class="img-fluid" width="140">

                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="owl-carousel owl-3">
                    <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid">
                    <img src="{% static 'images/about_2.jpg' %}" alt="Image" class="img-fluid">
                    <img src="{% static 'images/about_3.jpg' %}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>