{% load static %}

<!-- jQuery -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>

<!-- Owl Carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- Fancybox (Галерея изображений) -->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

<!-- AOS (анимации при прокрутке) -->
<script src="{% static 'js/aos.js' %}"></script>

<!-- Основной JS-файл -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Инициализация Owl Carousel -->
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 500
        });
    });
</script>