{% extends 'index.html' %}
{% load static %}

{% block carousel %}

{% endblock %}

{% block content %}
    <div class="site-section">
        <div class="container py-7">
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="heading-39291 mb-0">О студии</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-start">
                    <p>Студия дизайна интерьеров "Neva" — это команда профессионалов, объединенных страстью к созданию
                        уникальных,
                        стильных и функциональных пространств. Мы разрабатываем дизайн для жилых и коммерческих
                        помещений,
                        уделяя внимание каждой детали: от планировки до декоративных элементов.
                        Наши специалисты работают с современными материалами и технологиями, создавая интерьеры,
                        которые сочетают комфорт, эстетику и индивидуальность.
                        Основной принцип нашей работы — тщательное изучение пожеланий заказчика, чтобы реализовать его
                        мечту
                        об идеальном пространстве, в котором хочется жить и работать.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container py-7">
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="heading-39291 mb-0">Этапы разработки полного дизайн-проекта</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4 d-flex">
                    <div class="service-29193 text-start d-flex flex-column flex-grow-1">
                        <h3 class="mb-4">1. Первая встреча, знакомство</h3>
                        <p class="flex-grow-1">Мы проводим первую встречу, на которой обсуждаем пожелания клиента, его предпочтения по стилю
                            и функциональности. Определяются основные идеи и возможные ограничения.</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 d-flex">
                    <div class="service-29193 text-start d-flex flex-column flex-grow-1">
                        <h3 class="mb-4">2. Заключение официального договора</h3>
                        <p class="flex-grow-1">После обсуждения всех нюансов проекта мы заключаем официальный договор, фиксируя сроки, этапы работы и бюджет.
                            Это помогает четко определить план действий и гарантировать прозрачность сотрудничества.</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 d-flex">
                    <div class="service-29193 text-start d-flex flex-column flex-grow-1">
                        <h3 class="mb-4">3. Обмеры и фотофиксация объекта</h3>
                        <p class="flex-grow-1">Проводим детальный обмер объекта, точно учитываем размеры и особенности помещения.
                            Фотофиксация помогает зафиксировать текущее состояние объекта для дальнейших расчетов.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 mb-4 col-lg-4 d-flex">
                    <div class="service-29193 text-start d-flex flex-column flex-grow-1">
                        <h3 class="mb-4">4. Составление технического задания</h3>
                        <p class="flex-grow-1">Разрабатываем подробное техническое задание, включающее ключевые параметры интерьера:
                            материалы, цвета, стиль, технические особенности и требования к освещению.</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 d-flex">
                    <div class="service-29193 text-start d-flex flex-column flex-grow-1">
                        <h3 class="mb-4">5. Планировочное решение</h3>
                        <p class="flex-grow-1">Создаем планировку, удобную и функциональную. Включаем размещение мебели, зонирование, привязку инженерных коммуникаций.</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4 d-flex">
                    <div class="service-29193 text-start d-flex flex-column flex-grow-1">
                        <h3 class="mb-4">6. Концепция (коллажи и эскизы)</h3>
                        <p class="flex-grow-1">Создаем визуальную концепцию, эскизы и коллажи, отражающие цветовые решения, стилистику мебели, текстуры отделочных материалов.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


