{% extends 'index.html' %}
{% load static %}

{% block carousel %}

{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h2>Создание поста</h2>
        <form method="post">
            <div>
                <button type="submit" class="btn btn-success" onclick="saveContent()">Сохранить изменения</button>
            </div>
            {% csrf_token %}
            <!-- Обычное поле для заголовка -->
            <label for="id_title">Название поста:</label>
            {{ form.title }}

            <div>
                <!-- Редактор Quill.js для описания -->
                <label for="editor">Описание поста:</label>
                <div id="editor">{{ form.description.value|safe }}</div>

                <!-- Скрытое поле для передачи данных из Quill.js -->
                <input type="hidden" name="description" id="hiddenDescription">
            </div>

            <button type="submit" class="btn btn-success" onclick="saveContent()">Сохранить изменения</button>
        </form>
    </div>
    <!-- Стили для масштабирования изображений -->
    <style>
        .ql-editor {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
        }

        .ql-editor img {
            max-width: 600px !important;
            height: auto !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
        }

        .ql-video {
            width: 800px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
        }

    </style>

    <!-- Подключение Quill.js -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{'header': [1, 2, false]}],
                    ['italic', 'underline', 'strike'],  // Форматирование текста
                    [{'list': 'ordered'}, {'list': 'bullet'}],
                    [{'script': 'sub'}, {'script': 'super'}],
                    [{'indent': '-1'}, {'indent': '+1'}],
                    [{'direction': 'rtl'}],
                    [{'size': ['small', false, 'large', 'huge']}],
                    [{'color': []}, {'background': []}],
                    [{'align': []}],
                    ['link', 'image', 'video'],  // 🔹 Возвращаем поддержку ссылок и файлов
                    ['clean']  // Очистить форматирование
                ]
            }
        });

        function saveContent() {
            document.getElementById('hiddenDescription').value = quill.root.innerHTML;
        }
    </script>

{% endblock %}

