{% extends 'index.html' %}
{% load static %}

{% block carousel %}

{% endblock %}

{% block content %}

    {% if perms.marga_design.change_blogpost %}
        <a href="{% url 'marga_design:blog_edit' blog_post.slug %}" class="btn btn-primary">Редактировать пост</a>
    {% endif %}

    <div class="container mt-5 mb-5">

        <h1>{{ blog_post.title }}</h1>
        <p>{{ blog_post.created|date:"d.m.Y" }}</p>

        <!-- Описание с корректным рендерингом Quill.js -->
        <div class="ql-editor">
            {{ blog_post.description|safe }}
        </div>
        <div class="text-center">

            <h3>Фотографии проекта</h3>
            <div class="row mt-4">
                {% if blog_post.images.exists %}
                    {% for image in blog_post.images.all %}
                        <div class="col-12 mb-4 d-flex justify-content-center"> <!-- Одна колонка -->
                            <div style="width: 100%; max-width: 900px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden;">
                                <img src="{{ image.image.url }}"
                                     alt="{{ blog_post.title }}"
                                     class="img-fluid"
                                     style="width: 120%; height: auto; max-width: 100%; object-fit: contain;">
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="mt-3">Нет изображений</p>
                {% endif %}
            </div>

        </div>
    </div>

    <style>
        img {
            max-width: 600px !important;
            height: auto !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
        }

        .ql-video {
            width: 800px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
            object-fit: contain;
        }
    </style>
{% endblock %}

