{% extends 'index.html' %}
{% load static %}

{% block carousel %}

{% endblock %}

{% block content %}
    <div class="site-section">
        <div class="container py-7"> <!-- Добавляем вертикальные отступы -->
            <!-- Центрирование заголовка -->
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="heading-39291 mb-0">Услуги дизайнера интерьера</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up">
                    <div class="service-29193 text-start">
                        <h3 class="mb-4">Полный дизайн-проект квартиры, дома от 4000 ₽/м <sup>2</sup></h3>
                        <p>&#10004 Планировочное решение</p>
                        <p>&#10004 Рабочие чертежи</p>
                        <p>&#10004 Концепция (эскизы и коллажи)</p>
                        <p>&#10004 3D-визуализации</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-start"> <!-- Выравнивание текста влево -->
                        <h3 class="mb-4">Технический дизайн-проект квартиры, дома от 1000 ₽/м <sup>2</sup></h3>
                        <p>&#10004 Планировочное решение</p>
                        <p>&#10004 Рабочие чертежи</p>
                        <p>&#10006 Концепция (эскизы и коллажи)</p>
                        <p>&#10006 3D-визуализации</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-start"> <!-- Выравнивание текста влево -->
                        <h3 class="mb-4">Планировочное решение квартиры, дома от 600 ₽/м <sup>2</sup></h3>
                        <p>&#10004 Планировочное решение</p>
                        <p>&#10004 Рабочие чертежи</p>
                        <p>&#10006 Концепция (эскизы и коллажи)</p>
                        <p>&#10006 3D-визуализации</p>
                    </div>
                </div>
            </div>
        </div> <!-- Добавлена закрывающая </div> -->
    </div>

    <!-- Отдельный блок для "Состав и цены дизайн-проектов" -->
    <div class="site-section mt-1 pt-5">
        <div class="container">
            <!-- Центрирование заголовка -->
            <div class="row mb-5 align-items-center justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="heading-39291 mb-0">Состав и цены дизайн-проектов</h2>
                </div>
            </div>

            <!-- Блок с одинаковым текстом в три колонки -->
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up">
                    <div class="service-29193 text-start" style="font-size: 12px;">
                        <h3 class="mb-4">Полный от 4000 ₽/м <sup>2</sup></h3>
                        <p>&#10004 Обмерный план квартиры с привязкой инженерных коммуникаций</p>
                        <p>&#10004 Варианты планировочных решений с расстановкой мебели</p>
                        <p>&#10004 Итоговый план с расстановкой мебели и сантехнического оборудования</p>
                        <p>&#10004 План демонтажа стен и перегородок</p>
                        <p>&#10004 План монтажа стен и перегородок</p>
                        <p>&#10004 Размерный план после перепланировки</p>
                        <p>&#10004 План помещения после перепланировки. Экспликация помещения</p>
                        <p>&#10004 План размещения и открывания дверей</p>
                        <p>&#10004 План полов</p>
                        <p>&#10004 План плинтусов</p>
                        <p>&#10004 План теплых полов с привязкой регуляторов</p>
                        <p>&#10004 План потолков</p>
                        <p>&#10004 План потолков с размещением осветительного оборудования</p>
                        <p>&#10004 План размещения осветительного оборудования с привязкой к выключателям</p>
                        <p>&#10004 План розеток, электровыводов, выводов слаботочных сетей</p>
                        <p>&#10004 План кондиционирования и вентиляции (по проекту подрядчика)</p>
                        <p>&#10004 План сантехнического оборудования</p>
                        <p>&#10004 План приборов отопления</p>
                        <p>&#10004 План подготовки стен</p>
                        <p>&#10004 Ведомости отделочных материалов</p>
                        <p>&#10004 Ведомость мебели, сантехники и осветительного оборудования</p>
                        <p>&#10004 Ведомость электрофурнитуры</p>
                        <p>&#10004 Разработка концепции и стилевого решения (эскизы и коллажи)</p>
                        <p>&#10004 3D визуализация интерьеров</p>
                        <p>&#10004 Развертки стен с раскладкой плитки</p>
                        <p>&#10004 Развертки по стенам всех помещений объекта</p>

                        <!-- Центрируем кнопку -->
{#                        <div class="text-center">#}
{#                            <a href="#" class="d-inline-block">#}
{#                                <button class="btn btn-primary">Подробнее</button>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>

                <!-- Второй и третий блок идентичны первому -->
                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-29193 text-start" style="font-size: 12px;">
                        <h3 class="mb-4">ТТехнический от 1000 ₽/м <sup>2</sup></h3>
                        <p>&#10004 Обмерный план квартиры с привязкой инженерных коммуникаций</p>
                        <p>&#10004 Варианты планировочных решений с расстановкой мебели</p>
                        <p>&#10004 Итоговый план с расстановкой мебели и сантехнического оборудования</p>
                        <p>&#10004 План демонтажа стен и перегородок</p>
                        <p>&#10004 План монтажа стен и перегородок</p>
                        <p>&#10004 Размерный план после перепланировки</p>
                        <p>&#10004 План помещения после перепланировки. Экспликация помещения</p>
                        <p>&#10004 План размещения и открывания дверей</p>
                        <p>&#10004 План полов</p>
                        <p>&#10004 План плинтусов</p>
                        <p>&#10004 План теплых полов с привязкой регуляторов</p>
                        <p>&#10004 План потолков</p>
                        <p>&#10004 План потолков с размещением осветительного оборудования</p>
                        <p>&#10004 План размещения осветительного оборудования с привязкой к выключателям</p>
                        <p>&#10004 План розеток, электровыводов, выводов слаботочных сетей</p>
                        <p>&#10004 План кондиционирования и вентиляции (по проекту подрядчика)</p>
                        <p>&#10004 План сантехнического оборудования</p>
                        <p>&#10004 План приборов отопления</p>
                        <p>&#10004 План подготовки стен</p>
                        <p>&#10004 Ведомости отделочных материалов</p>
                        <p>&#10006 Ведомость мебели, сантехники и осветительного оборудования</p>
                        <p>&#10006 Ведомость электрофурнитуры</p>
                        <p>&#10006 Разработка концепции и стилевого решения (эскизы и коллажи)</p>
                        <p>&#10006 3D визуализация интерьеров</p>
                        <p>&#10006 Развертки стен с раскладкой плитки</p>
                        <p>&#10006 Развертки по стенам всех помещений объекта</p>
                    </div>
                </div>

                <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-29193 text-start" style="font-size: 12px;">
                        <h3 class="mb-4">Планировка от 600 ₽/м <sup>2</sup></h3>
                        <p>&#10004 Обмерный план квартиры с привязкой инженерных коммуникаций</p>
                        <p>&#10004 Варианты планировочных решений с расстановкой мебели</p>
                        <p>&#10004 Итоговый план с расстановкой мебели и сантехнического оборудования</p>
                        <p>&#10004 План демонтажа стен и перегородок</p>
                        <p>&#10004 План монтажа стен и перегородок</p>
                        <p>&#10004 Размерный план после перепланировки</p>
                        <p>&#10004 План помещения после перепланировки. Экспликация помещения</p>
                        <p>&#10006 План размещения и открывания дверей</p>
                        <p>&#10006 План полов</p>
                        <p>&#10006 План плинтусов</p>
                        <p>&#10006 План теплых полов с привязкой регуляторов</p>
                        <p>&#10006 План потолков</p>
                        <p>&#10006 План потолков с размещением осветительного оборудования</p>
                        <p>&#10006 План размещения осветительного оборудования с привязкой к выключателям</p>
                        <p>&#10006 План розеток, электровыводов, выводов слаботочных сетей</p>
                        <p>&#10006 План кондиционирования и вентиляции (по проекту подрядчика)</p>
                        <p>&#10006 План сантехнического оборудования</p>
                        <p>&#10006 План приборов отопления</p>
                        <p>&#10006 План подготовки стен</p>
                        <p>&#10006 Ведомости отделочных материалов</p>
                        <p>&#10006 Ведомость мебели, сантехники и осветительного оборудования</p>
                        <p>&#10006 Ведомость электрофурнитуры</p>
                        <p>&#10006 Разработка концепции и стилевого решения (эскизы и коллажи)</p>
                        <p>&#10006 3D визуализация интерьеров</p>
                        <p>&#10006 Развертки стен с раскладкой плитки</p>
                        <p>&#10006 Развертки по стенам всех помещений объекта</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}






